@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    font-family: "Roboto Condensed", sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    padding: 10px;
}


.cheklist-subtitle {
    font-size: 12px;
    font-style: italic;
}

.cheklistCollection {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.cheklist__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(255, 179, 117);
    border-radius: 4px;
    font-size: 12px;
    transition: all .3s;
    background-color: #dcecf5;
    cursor: pointer;
    font-weight: 300;
}

.cheklist__item:hover {
    transform: scale(1.2);
}

.cheklist-title {
    text-align: center;
}

.cheklist-subtitle {
    text-align: center;
}

.text {
    display: block;
    height: 100%;
    width: 100%;
}

.cardQestions {
    margin: 0 auto;
    color: #000;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
}

.cardQestions--inline {
    flex-direction: column;
    gap: 5px;
}

.qestions__item {
    padding: 6px 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #dcecf5;
    width: 150px;
    text-align: center;
    font-size: 12px;
}

.qestions__item--inline {
    width: auto;    
    text-align: left;
}

.succes {
    background-color: rgb(185, 255, 185);
}

.falure {
    background-color: rgb(255, 163, 163);
}

.lable {
    font-size: 10px;
}

.changeStyle {
    font-size: 12px;
}

.btnChek {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ffd82b;
    outline: none;
    border: 1px solid #c9a60b;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.btnChek:hover {
    transform: scale(1.2);
}

.visible {
    display: none;
}